<!DOCTYPE html>


<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Pirate badge</title>
    <link rel="stylesheet" href="piratebadge.css">
  </head>
  <body>
    <h1>Pirate badge</h1>
    
    <div class="widgets">
      <div>
        <input type="text" id="inputName" maxlength="15" ng-model="name">
      </div>
    </div>

    <div class="badge">
      <div class="greeting">
        Arrr! Me name is
      </div>
      <div class="name">
        <span id="badgeName" ng-cloak>{{name}}</span>
      </div>
    </div>
    
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="main.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>

<!--
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Container Dart</title>
  <link rel="stylesheet" type="text/css" href="style.css">  
  </head>
 
  <body>
  
    <div class="container">
      <h1>Container Dart</h1>
      <h2>It works.</h2>
      <p>
        This page was provided by a <a href="https://www.dartlang.org">Dart</a> Server 
        from a <a href="https://www.docker.io/">Docker</a> container.
      </p>
      <p>
        <ul>
          <li><strong>(1)</strong> Add your server side Dart app to this container and </li>
          <li><strong>(2)</strong> ship (run) it everywhere as a self-contained service.</li>
        </ul> 
      </p>
      <p class='more'>
        <a href="http://github.org/nkratzke/containerdart">Learn more</a>
      </p>
      <p>
        <img src="img/dartlang-white.png">
        <img src="img/docker-white.png">
      </p>
      <p>
        <small>
          &copy; Nane Kratzke, 2014<br>
          <a href="http://www.nkode.io">nkode.io</a>
        </small>
      </p>
    </div> 
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName"
               placeholder="Enter a name here">
        <hr>
        <h1 ng-cloak>Hello {{yourName}}!</h1>
    </div>
    <script type="application/dart" src="hello.dart"></script>
    <script src="packages/browser/dart.js"></script>   
  </body>
</html> -->
